#page-title {
    color:#C5C3C6;
    text-align: center;
    font-size: 26px;
    padding: 20px;
}

#newWorkoutBtn{
    background-color: #2B2D42;
    color: #C5C3C6;
    border-radius: 100%;
    border-style: solid;
    border-color: #EF233C;
    border-width: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

#newWorkoutBtn:hover {
    background-color: #EF233C;
    color: #EDF2F4;
}

#workouts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout{
    display: block;
    align-items: center;
    background-color: #8D99AE;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 25%;
}

input.workout-title {
    text-align: center;
}

h2.workout-title {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #EF233C;
    font-size: 24px;
    text-align: center;
}

input[type="text"],
input[type="number"] {
    border: 2px solid #EDF2F4;
    border-radius: 5px;
    background-color: #2B2D42;
    color: #EDF2F4;
    margin-top: 20px;
    padding: 5px;
    width: 80%;
}

.addExerciseBtn, .saveWorkoutBtn {
    background-color: #EF233C;
    color: #EDF2F4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.addExerciseBtn:hover, .saveWorkoutBtn:hover {
    background-color: #D90429;
}