#page-title {
    color:#C5C3C6;
    text-align: center;
    font-size: 26px;
    padding: 20px;
}

#newWorkoutBtn{
    background-color: #46494C;
    color: #C5C3C6;
    border-radius: 100%;
    border-style: solid;
    border-color: #1985A1;
    border-width: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

#newWorkoutBtn:hover {
    background-color: #1985A1;
    color: #C5C3C6;
}